


.signform {
background-color: #FFF;
border-left: 8px solid #3498db;
border-right: 8px solid #3498db;
border-top: 1px solid #3498db;
border-bottom: 1px solid #3498db;
padding-right:0px;
padding-bottom: 20px;
padding-top: 30px;
border-radius: 30px 0px 30px 30px;
margin: 0 auto;
margin-top: 10px;
}
.signform a{
border:none;
}

.bts span {
text-align: center;
margin-left: 10%;
font-size: 1.em;
font-family: 'Arimo', sans-serif;
font-weight: 700;
font-style: italic;
text-decoration:none;
color:#fff;
}

.fblogin {
   transition: background 200ms ease-in-out 0s;
-webkit-transition: background 200ms ease-in-out 0s;
-moz-transition: background 200ms ease-in-out 0s;
-o-transition: background 200ms ease-in-out 0s;
-ms-transition: background 200ms ease-in-out 0s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
margin-top: 12px;
	background-color:#3b5898;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	display:block;
	color:#ffffff;
	height:40px;
	line-height:40px;
	width: 80%;
	text-decoration:none;
	text-align:center;
}.fblogin:hover {
	background-color:#5177c2;
}.fblogin:active {
	position:relative;
	top:1px;
}

.input-group-addon {
padding: 8px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
text-align: center;
background-color: #08C;
color:#fff;
}

.form-control:focus {
outline: none;
border-color: #79C0E4;
box-shadow: 0 0 2px #08C;
}

.form-control {
font-family: 'Arimo', sans-serif;
font-weight: 400;
font-style: normal;
width: 190px;
display: table-cell;
height: 32px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #fff;
background-color: #222;
border: 0px solid #08C;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group-addon:first-child {
border-right: 0;
}

.margin-bottom-sm {
margin-bottom: 5px !important;
}

.input-group {
position: relative;
display: table ;
border-collapse: separate;
}

.subbt:hover {
background-color: #111;
}
.subbt {
   -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
      transition: background 500ms ease-in-out 0s;
-webkit-transition: background 500ms ease-in-out 0s;
-moz-transition: background 500ms ease-in-out 0s;
-o-transition: background 500ms ease-in-out 0s;
-ms-transition: background 500ms ease-in-out 0s;
background-color: #08C;
border: none;
color: #FFF;
padding: 10px 15px 10px 15px;
margin-top: 10px;
cursor: pointer;
font-size: .9em;
border-radius: 3px;
width: 218px;
font-family: 'Arimo', sans-serif;
font-weight: 700;
font-style: normal;

}

.right a {
position: relative;
color: #08c;
text-decoration: underline;
font-family: 'Arimo', sans-serif;
font-weight: 400;
font-style: normal;
font-size: .9em;
}
.bts a{
text-decoration:none;
}
.right h {
position: relative;
color: #111;
text-decoration: none;
font-family: 'Arimo', sans-serif;
font-weight: 400;
font-style: normal;
font-size: .9em;
}

.headit { 
  position: relative; 
  top: -10px;
}

.headit a {
text-decoration: none;
}

.fa.fa-check-square {
padding-right: 19px;
}

@media screen  and (min-width: 1400px) {
.signform { width: 580px; left: 25%; }
}


@media screen  and (max-width: 1400px) and (min-width: 1230px) {
.signform { width: 300px; left: 25%; }
}

@media screen  and (max-width: 1230px) and (min-width: 1000px) {
.signform { width: 60%; left: 15%; }
}

@media screen  and (max-width: 1000px) and (min-width: 900px) {
.signform { width: 70%; left: 10%; }
}

@media screen  and (max-width: 900px) and (min-width: 750px) {
.signform { width: 80%; left: 8%; }
}

@media screen  and (max-width: 750px) and (min-width: 640px) {
.signform { width: 90%; left: 1%; }
}

@media screen  and (min-width: 640px) {
.left { 
border-right: 1px solid #DDD;
width: 47%;
display: inline-table;
margin-left: 20px;
}

.right {
width: 40%;
display: inline-table;
margin-left: 50px;
}

}


@media screen  and (max-width: 640px) {
.left { 
border-right: 0px solid #DDD;
width: 100%;
display: inline-table;
margin-left: 20px;
margin-bottom: 25px;
}

.right {
width: 100%;
display: inline-table;
margin-left: 20px;
}

.signform { width: 50%; min-width:255px;  }
}

@media screen  and (max-width: 640px) and (min-width: 460px) {
.signform { left: 25%; }
}

@media screen  and (max-width: 460px) and (min-width: 400px) {
.signform { left: 20%; }
}

@media screen  and (max-width: 400px) and (min-width: 320px) {
.signform { left: 10%; }
}

@media screen  and (max-width: 320px) {
.signform { left: 1%; }
}
.menu_logged{
margin-left:30px;
}